<footer class="footer">
  <small>
    <strong><a href="http://www.mashrurhossain.com/">&copy; Main Project for Pro RoR5 Developer Couser</a></strong>
    by <em><a href="https://www.linkedin.com/in/raphael-sattler-29858ab0/">Raphael Sattler</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>